#!/usr/bin/env xdg-open
[Desktop Entry]
Name=CPU and Disk Information
GenericName=sysinfo
Comment=System Information
Exec=sysinfo -gtk -i 1
Icon=utilities-system-monitor
Terminal=False
Type=Application
StartupNotify=true
Categories=System;Monitor
